
.container {
    width: 100%;
    height: 400px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item {
    width: 100px;
    height: 100px;
}

.lila {
    background-color: purple;
}

li {
    margin-right: 5px;
}
