
* {
    margin: 0;
    padding: 0;
}

#cont {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

#header {
    background-color: purple;
    width: 100%;
    height: 50px;
    display: flex;
}

#header div:first-of-type {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#cont div:first-child div div {
    background-color: blue;
    width: 50px;
    height: 25px;
}

#cont2 { 
    flex-grow: 1; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    padding: 10px;
}

#main {
    background-color: yellow;
    flex-grow: 1;
    width: 100%;
    flex-basis: 300%;
    margin-right: 20px;
}

#sidebar {
    background-color: green;
    width: 100%;
    flex-grow: 1;
    order: -1;
}

#footer {
    background-color: grey;
    width: 98.5%;
    height: 20%;
    margin-left: 10px;
}
