
.container {
    width: 800px;
    height: 300px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    width: 100px;
    height: 100px;
}

#zold {
    background-color: green;
    display: none;
}

#sarga {
    background-color: yellow;
    display: none;
}

#lila {
    background-color: purple;
}
