
* {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

#button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

#black {
    padding: 2%;
    background-color: black;
}

#cont {
    width: 70%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

#header {
    background-color: rgb(0, 255, 242);
    padding: 10%;
}

#footer {
    background-color: blue;
    padding: 10%;
}

#cont2 {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

#cont2 div {
    padding: 10px;
    width: 5%;
}

#cont2 div:first-of-type { 
    background-color: orange;
}

#cont2 div:nth-of-type(2) { 
    background-color: red; 
    flex-basis: 50%;
}

#cont2 div:last-of-type { 
    background-color: purple;
}
